###### Requirements without Version Specifiers ######
math
cv2
os
glob
time
sys
sklearn.cluster
collections
skimage.color


###### Requirements with Version Specifiers ######
matplotlib == 3.3.4
numpy == 1.23.5
Pillow == 9.3.0
pathlib == 1.0.1
rembg == 2.0.30